* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.signUpUser_column_1 {
  display: none;
}

a {
  text-decoration: none;
}

:root {
  --primary: #4d5bfc;
  --secondary: #040105;
  --accent: #120e1d;
  --highlight: #ff2a68; /* A bright red that provides a strong contrast */

  --background: #f9f9f9;
  --titleFont: "Montserrat", serif;
  --bodyFont: "Inter", serif;
}

main {
  display: flex;
  justify-content: center;
}

.signUpUser_column_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 1.5rem;
  padding: 0.8rem;
  width: 425px;
}

.signUpUser_column_2 h1 {
  text-align: center;
  font-size: 4rem;
  font-family: var(--titleFont);
  font-weight: 700;
  color: var(--primary);
}

.input_container {
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  font-family: var(--titleFont);
}

.input_container input {
  font-family: var(--titleFont);
  color: var(--secondary);
  padding: 0.7rem 1.5rem;
  width: 22rem;
  border-radius: 0.4rem;
  font-size: 1rem;
  border: 1px solid hsla(285, 67%, 1%, 0.12);
}

.input_container input::placeholder {
  color: var(--accent);
  opacity: 0.3;
}

.username,
.email,
.password,
.confirm_password {
  position: relative;
}

.placeholder p {
  pointer-events: none;
  position: absolute;
  top: 0.7rem;
  left: 1rem;
  /* left: 0.75rem;
  top: -0.6rem; */
  background-color: #fff;
  padding: 0 0.5rem;
  color: var(--secondary);
  font-size: 1rem;
  /* color: var(--primary); */
  /* font-size: 0.8rem; */
  opacity: 0.3;
}

.input_container input:focus {
  outline: 1px solid hsla(235, 97%, 65%, 0.6);
  border: 1px solid transparent;
}

.button_container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.signUpButton {
  display: flex;
  gap: 0.1rem;
  padding: 0.1rem;
  border: 1px solid burlywood;
  border-radius: 1.1rem;
  width: 6.7rem;
}

.signUpButton button {
  font-size: 1rem;
  background-color: var(--accent);
  border-radius: 1rem;
  color: var(--background);
  outline: none;
  border: none;
  padding: 0.3rem 0.6rem;
}

.signUpButtonCircle {
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accent);
  color: var(--background);
  width: 100%;
  border-radius: 50%;
}

.signInButton {
  font-size: 1rem;
  color: var(--accent);
}

.signUpButtonCircle i {
  position: absolute;
  font-size: 1.1rem;
}

.second_arrow {
  transform: translate(-100%, 100%);
}

@media screen and (min-width: 475px) {
  body {
    height: 70vh;
  }
}

@media screen and (min-width: 1024px) {
  body {
    height: auto;
    width: 100vw;
  }

  main {
    width: 100vw;
    height: calc(100vh - 4rem);
    padding: 0;
    margin: 2rem;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
  }

  .signUpUser_column_1 img {
    object-fit: cover;
    width: 200%;
    height: 100%;
  }
  .signUpUser_column_1 {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background: burlywood;
  }

  .signUpUser_column_2 {
    width: 60%;
    justify-content: flex-start;
    padding: 1.5rem;
    gap: 4rem;
  }

  .button_container {
    margin-top: 2rem;
  }

  .signUpUser_column_2 h1 {
    font-size: 5rem;
  }

  .input_container input {
    width: 30rem;
  }

  #options {
    width: 7rem;
  }

  .signUpButton {
    width: 7.7rem;
  }

  .signUpButton button {
    font-size: 1.25rem;
  }

  .signInButton:hover {
    text-decoration: underline;
  }

  .signInButton {
    font-size: 1.25rem;
  }
}
