* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

:root {
  --primary: #4d5bfc;
  --secondary: #040105;
  --accent: #120e1d;
  --highlight: #ff2a68; /* A bright red that provides a strong contrast */

  --background: #f9f9f9;
  --titleFont: "Montserrat", serif;
  --bodyFont: "Inter", serif;
}

body {
  position: relative;
}

main {
  padding-top: 2rem;
  overflow: hidden;
}

section {
  margin: 0 0.8rem;
}

.header {
  position: fixed;
  width: 100%;
  padding: 0.8rem;
  color: var(--background);
  font-family: var(--titleFont);
  font-weight: 700;
  z-index: 20;
  top: 0;
}

.nav {
  border-radius: 0.4rem;
  background-color: var(--primary);
  padding: 0.6rem 1rem;
  position: relative;
}

.nav div:nth-child(1) {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  grid-column: 1/3;
}

.nav div:nth-child(2) {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.nav div a {
  color: var(--background);
}

.nav_container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2.8rem;
  width: 100vw;
  height: 110vh;
  top: -1rem;
  left: 110%;
  background-color: var(--primary);
  padding-bottom: 4rem;
  z-index: 10;
  gap: 1rem;
}

.pre_loader_1 {
  position: absolute;
  width: 100vw;
  height: 110vh;
  top: -1rem;
  left: 110%;
  z-index: 10;
  background-color: var(--accent);
}

.pre_loader_2 {
  position: absolute;
  width: 100%;
  height: 110vh;
  top: -1rem;
  left: 100vh;
  z-index: 10;
  background-color: var(--highlight);
}

.close,
.add {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.1rem;
  z-index: 5;
}

.close {
  top: 1.25rem;
  right: 2.2rem;
}

.add {
  top: 1.25rem;
  right: 1.7rem;
}

.user_courses_title {
  margin-top: 6rem;
  display: flex;
  justify-content: center;
}

.user_courses_title h1 {
  font-size: 2.25rem;
  font-family: var(--titleFont);
}
